{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Edition du CSS{% endblock %}

{% block body %}
    <div>
      <form method="post" action="writefile/">
        <textarea name="css">{{ fichiercss }}</textarea><br/>

        <button type="submit" id="sauvegarder">Sauvegarder</button>
      </form>
    </div>
{% endblock %}