{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Edition du CSS{% endblock %}

{% block body %}
    <div>
      <form method="post" action="">
        <textarea placeholder="{{ fichiercss }}" name="css"></textarea><br/>

        <input type="submit" value="sauvegarder">
      </form>
    </div>
{% endblock %}