<html>
    <head></head>
    <body>
        <h1><a href="http://www.git.local/Article/Contact/{{ article.Id }}">{{ article.Titre }}</a></h1>
        <p>
            {{ message }}
        </p>
    </body>
</html>