{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Administration {% endblock %}

{% block body %}
    <div>
        <H2>Accéder aux articles</H2>

    <div class="container-fluid mt-2">
        <h2 class="display-3">Administration</h2>

    </div>

    <H2>Accéder aux catégories</H2>
    <H2>Accéder aux utilisateurs</H2>
   <!-- <H2>Editer le CSS</H2> -->
{% endblock %}