{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Administration {% endblock %}

{% block body %}

    <div class="container-fluid mt-2">
        <h2 class="display-3">Administration</h2>

    </div>

{% endblock %}