{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Catégories {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">

        <form method="post" action="/Login">
            <input type="email" name="email">
            <input type="password" name="password">
            <input type="submit">
        </form>
    </div>

{% endblock %}