{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Connectez-vous {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">
        <form method="post" action="/Login">
            <label for="username">Pseudo</label>
            <input type="text" name="username">
            <label for="password">Mot de passe</label>
            <input type="password" name="password">
            <input type="submit">
        </form>
    </div>

{% endblock %}