{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Gestion des droits {% endblock %}

{% block body %}
    <div class="container-fluid mt-2">

        <h2 class="display-3">Gestion des droits de {{ user.Pseudo }}</h2>
        <hr class="my-4">

        <form method="post" action="/Admin/Users/Permissions/{{ user.Pseudo }}">
            <div>
                <p>Articles :</p>
                <input type="checkbox" name="articles[]" value="add">
                <label for="add">Ajouter</label>
                <input type="checkbox" name="articles[]" value="update">
                <label for="update">Modifier</label>
                <input type="checkbox" name="articles[]" value="delete">
                <label for="delete">Supprimer</label>
                <input type="checkbox" name="articles[]" value="validate">
                <label for="validateArticle">Valider</label>
                <input type="checkbox" name="articles[]" value="none">
                <label for="validateArticle">Aucun</label>
            </div>
            <div>
                <p>Catégories :</p>
                <input type="checkbox" name="categories[]" value="add">
                <label for="add">Ajouter</label>
                <input type="checkbox" name="categories[]" value="update">
                <label for="update">Modifier</label>
                <input type="checkbox" name="categories[]" value="delete">
                <label for="delete">Supprimer</label>
                <input type="checkbox" name="categories[]" value="none">
                <label for="validateArticle">Aucun</label>
            </div>
            <div>
                <p>Membres :</p>
                <input type="checkbox" name="users[]" value="updatePermissions">
                <label for="updatePermissions">Modifier les droits</label>
                <input type="checkbox" name="users[]" value="none">
                <label for="validateArticle">Aucun</label>
            </div>
            <input type="submit">
        </form>
    </div>
{% endblock %}