{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Créer votre compte {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">

        <form method="post" action="/SignUp">
            <h2>Créer votre compte </h2>
            Pseudo : <input type="text" name="pseudo"></p>
            <p>Adresse e-mail : <input type="email" name="email"></p>
            <p>Mot de passe : <input type="password" name="password"></p>
            <p><input type="hidden" name="role" value="Rédacteur"></p>
            <p><input type="hidden" name="valide" value="2"></p>

            <input type="submit">
        </form>
    </div>

{% endblock %}