{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Créer un compte {% endblock %}
{% block body %}

    <div class="container-fluid mt-2">

        <form method="post" action="/SignUp"> //créer rooter pour la redirection vers la page signUp
            <p>Créer votre compte : </p>
            <p>Pseudo : <input type="text" name="pseudo"></p>
            <p>Adresse e-mail : <input type="email" name="email"></p>
            <p>Mot de passe : <input type="password" name="password"></p>

            <input type="submit">
        </form>
    </div>

{% endblock %}